<!--  Store Header  -->
<header>
  <h1 class="text-center">Gems 'R Us</h1>
</header>

<!--  Products Container  -->
<div class="list-group container">
  <!--  Product Container  -->
  <div class="list-group-item" ng-repeat="product in store.products">
    <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

    <!-- Image Gallery  -->
    <product-gallery></product-gallery>

    <!-- Product Tabs  -->
    <product-tabs></product-tabs>
  </div>

</div>
