<!--  Store Header  -->
<header>
  <h1 class="text-center">Gems 'R Us</h1>
</header>


<!--  Products Container  -->
<div class="list-group container">
	<product-crud></product-crud>

	<div class="create-item" ng-show="crud.isSet(crud.CREATE)">
		<form name="create_jewel" ng-submit="create(crud)">
			<label for="name">Name:
				<input type="text" name="name" ng-model="jewel.name"/>
			</label>

			<br/>

			<label for="price">Price:
				<input type="text" name="price" ng-model="jewel.price"/>
			</label>

			<br/>

			<input type="submit" value="Create Jewel"/>

		</form>
	</div>


  <!--  Product Container  -->
  <div class="list-group-item" ng-repeat="product in products" ng-show="crud.isSet(crud.INDEX)">
    <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

    <!-- Image Gallery  -->
    <product-gallery></product-gallery>

    <!-- Product Tabs  -->
    <product-tabs></product-tabs>
  </div>



</div>
